@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 23, 23, 23;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 23, 23, 23;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

::-moz-selection {
  color: rgb(var(--background-rgb));
  background: rgb(var(--foreground-rgb));
}

::selection {
  color: rgb(var(--background-rgb));
  background: rgb(var(--foreground-rgb));
}
